<div id="<%= dom_id tweet %>" class="tweet">
  <div class="mt-3" aria-label="tweet-content">
    <%= tweet.content %>
  </div>

  <div class="my-3" aria-label="tweet-history">
    <small><%= time_ago_in_words tweet.updated_at %> ago</small>
  </div>
</div>
