<div class="p-4 max-w-lg mx-auto">
  <%= render "shared/flash" %>
  <h1>Tweet</h1>
  <%= render "form", tweet: Tweet.new %>
  <div id="tweets" class="my-4 grid gap-2 rounded">
    <% @tweets.each do |tweet| %>
      <%= render "tweet_link", tweet: tweet %>
    <% end %>
  </div>
</div>
