<div class="p-4 max-w-lg mx-auto">
  <%= render "shared/flash" %>
  <h1>Tweet</h1>
  <%= link_to "New tweet", new_tweet_path, class: "btn" %>
  <div id="tweets" class="my-4 grid gap-2 rounded">
    <% @tweets.each do |tweet| %>
      <%= link_to tweet, class: "hover:bg-light-300" do %>
        <%= render tweet %>
      <% end %>
    <% end %>
  </div>
</div>
