<div class="max-w-lg mx-auto">
  <div class="py-2">
    <%= link_to tweets_path, class: "btn text-primary-700" do %>
      <i class="fas fa-chevron-left pr-2"></i>
      Back
    <% end %>
  </div>

  <%= render @tweet %>
</div>
